body{
    background-image: url("../img/Background.png");
    background-size: auto 10%;
}

body,div,h1,h2,h3,h4,p,a{
    margin: 0px;
}

@media (min-width: 850px){
    .main{
        font-size: 100%;
        height: 760px;
        margin: 0px;
        display: grid;
        grid-row-gap: 5%;
        grid-template-rows: 100px 80%;
        grid-template-columns: 10% 55% 35%;
        grid-template-areas: 
        "header header header"
        "padding showbox changebox"
    }
    #title{
        grid-area: header;
    }
    #showbox{
        grid-area: showbox;
    }
    #changebox{
        grid-area: changebox;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #link{
        grid-area: footer;
    }
    a, #link p{
        font-size: 1em;
    }
    #showbox2{
        width: 420px;
    }
    .select{
        width: 150px;
        height: 40px;
    }
    .selecticon{
        width: 60px;
        height: auto;
        padding-right: 20px;
    }
    .selecticon2{
        width: 60px;
        height: auto;
        padding: 6px 11px;
    }
    .selectbox{
        position: relative;
        left:-30px;
    }
}
@media (min-width: 0px) and (max-width: 849px) {
    .main{
        font-size: 100%;
        height: 790px;
        margin: 0px;
        display: grid;
        grid-gap: 5%;
        grid-template-rows: 100px 80% auto;
        grid-template-areas: 
        "header"
        "showbox"
        "changebox"
    }
    #title{
        grid-area: header;
    }
    #showbox{
        grid-area: showbox;
    }
    #changebox{
        grid-area: changebox;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 5px;
        grid-template-areas: 
        "fr fr"
        "fr fr"
        "fr fr"
        "fr fr"
        "cr cr";
    }
    #Reflash{
        grid-area: cr;
      }
    #link{
        grid-area: footer;
    }
    a, #link p{
        font-size: 0.9em;
    }
    #showbox2{
        width: 80%;
    }
    .select {
        width: 130px;
        height: 35px;
    }
    .selecticon{
        width: 50px;
        height: auto;
        padding-right: 5px;
    }
    .selecticon2{
        width: 60px;
        height: auto;
        padding: 0px 20px;
    }
}
@media (min-width: 850px){
    #title{
        padding: 0% 10% 0% 15%;
        display: grid;
        grid-gap: 5%;
        grid-template-columns: 3fr 1.2fr 0.5fr 0.5fr;
        grid-template-areas: 
        "logo prohibited kaokao beata"
    }
    #titlelogo{
        grid-area: logo;
        padding-right: 10%;
    }
    #prohibited{
        grid-area: prohibited;
    }
    #kaokao{
        grid-area: kaokao;
    }
    #beata{
        grid-area:beata;
    }
    #title img{
        display: block;
        object-fit: cover;
        height: auto;
        max-width: 100%;
    }
    #title div{
        display: flex;
        align-items: flex-end;
    }
    #prohibited,#kaokao,#beata{
        padding-bottom: 10px;
    }
}
@media (min-width: 481px) and (max-width: 849px) {
    #title{
        padding: 0% 10% 0% 10%;
        display: grid;
        grid-gap: 2%;
        grid-template-columns: 3fr 1.2fr 0.5fr 0.5fr;
        grid-template-areas: 
        "logo prohibited kaokao beata"
    }
    #titlelogo{
        grid-area: logo;
        padding-right: 5%;
    }
    #prohibited{
        grid-area: prohibited;
    }
    #kaokao{
        grid-area: kaokao;
    }
    #beata{
        grid-area:beata;
    }
    #title img{
        display: block;
        object-fit: cover;
        height: auto;
        max-width: 100%;
    }
    #title div{
        display: flex;
        align-items: flex-end;
    }
    #prohibited,#kaokao,#beata{
        padding-bottom: 10px;
    }
}
@media (min-width: 0px) and (max-width: 480px) {
    #title{
        padding: 3% 1% 1% 8%;
        display: grid;
        grid-gap: 1%;
        grid-template-rows: 1.5fr 1fr;
        grid-template-columns: 0.8fr 0.5fr 0.5fr;
        grid-template-areas: 
        "logo logo logo"
        "prohibited kaokao beata"
    }
    #titlelogo{
        grid-area: logo;
    }
    #prohibited{
        grid-area: prohibited;
    }
    #kaokao{
        grid-area: kaokao;
    }
    #beata{
        grid-area:beata;
    }
    #title div{
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    #title img{
        display: block;
        object-fit: cover;
        height: auto;
    }
    #logo{
        width: 90%;
    }
    #prohibited{
        width: 90%;
        padding-bottom: 10px;
        justify-content: flex-end;
    }
    #kaokao,#beata{
        width: 50%;
        padding-bottom: 10px;
        justify-content: flex-end;
    }
    #kaokao{
        padding-left: 60%;
    }
    #beata{
        padding-left: 20%;
    }
}
#title{
    background-color: #ff799b;
}
#showbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
#showbox2{
    height: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}
#showbox img{
    position: relative;
    left:-20px;
    top: -10px;
    padding-left: 10px;
}
.select {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
    background-color: #caf0dc;
    color: #f3d983;
    border: 2px solid #9fa2a2;
    text-shadow: none;
    border-radius: 10px;	
    transition: box-shadow 0.25s ease;
    z-index: 2;
}
.select:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
.select:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #f3d983;
    top: 14px;
    right: 10px;
    cursor: pointer;
    z-index: -2;
}
.select select {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select select:focus {
    outline: none;
}
/* #link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */
.span{
    width: 10px;
}
#face,#makeup,#stocks,#suit,#down,#up,#shoes,#accessories{
    z-index: 1;
    position: absolute;
}
#basicrole{
    z-index: 0;
    position: absolute;
}
a{
    color: #000000;
    font-family: "pingfang";
    font-weight: lighter;
    text-decoration: none;
}
#link p{
    color: #000000;
    font-family: "pingfang";
    font-weight: lighter;
    text-decoration: none;
}
label{
    width: 120px;
}
.selectbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#Reflash{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* .block{
    position:absolute;
    left:0;
    visibility:hidden;
    animation:barrage 15s linear 0s;
    color: #f84b77;
    font-family: "pingfang";
    font-weight: bolder;
    text-shadow: 0 1px white, 1px 0 white, -1px 0 white, 0 -1px white;
    /* -webkit-text-stroke: 1px #ffffff;
} */